name: frontend
on:
  push:
    branches: [ master ]
  workflow_dispatch:
jobs:
  frontend-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - run: npm ci
        working-directory: notes-frontend
      - run: npm run build
        working-directory: notes-frontend
  frontend-type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - run: npm ci
        working-directory: notes-frontend
      - run: npm run type-check
        working-directory: notes-frontend
  frontend-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - run: npm ci
        working-directory: notes-frontend
      - run: npm run lint
        working-directory: notes-frontend
  frontend-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - run: npm ci --omit=dev
        working-directory: notes-frontend
      - run: npm audit --production --audit-level=high --json
        working-directory: notes-frontend
